<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {% block title %}
            Meu Site
                {% endblock %}
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
        
    </head>
    <body>
        <header>
            Cabeçalho igual
        </header>

        <main>
            {% block container %}
               
            {% endblock %}
        </main>
        <footer>
            Rodapé igual
        </footer>
    </body>
</html>