<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title | upper}}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'estilo.css' %}">
        <title>Minha primeira view Django</title>
        
    </head>
    <body>
        <h1>Index aqui!</h1>
        <img src="static/pyedj.jpg" alt="Python e Django" width="30%" height="30%">
        <p>{{paragrafo1}}</p>
        <p>{{paragrafo2}}</p>

        {% for item in alunos %}
            {{ item }}
        {% endfor %}

        <ul>
            {% for item in alunos %}
                <li>{{ item }} - Posição: {{forloop.counter0}}</li>
            {% endfor %}
        </ul>

        <ul>
            {% for item in alunos2 %}
                <li>{{ item }} - Posição: {{forloop.counter0}}</li>
                {% empty %}
                    <li>Lista vazia!</li>
            {% endfor %}
        </ul>

        {% if condicao1 %}
            Entrei no bloco if.
        {% elif condicao2 %}
            Entrei no bloco elif.
        {% else %}
            Entrei no bloco else.
        {% endif %}

        <ul>
            {% for item in lista %}
                <li>{{ item }}</li>
                {% if forloop.last %}
                    <li>Aqui termina a lista</li>
                {% endif %}

                {% empty %}
                    <li>Lista vazia!</li>
            {% endfor %}
        </ul>
    </body>
</html>